@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 80%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

nav {
  padding: 8px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-left: 30px;
}

nav ul li a {
  font-size: 14px;
  font-weight: 400;
  color: black;
  transition: 0.5s ease-in;
}

a:hover {
  color: red;
}
a:visited {
  color: rgb(67, 67, 71);
}

/* * Sections */

#about {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.top {
  margin-bottom: 15rem;
  width: 600px;
}
.greeting {
  font-size: 15px;
  font-weight: 600;
}

.name {
  font-weight: 600;
}

.top h1 {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 12px 0;
}

.top p {
  margin: 20px 0;
  font-size: 21px;
}

.p2 {
  font-size: 15px;
}

.bottom a {
  font-size: 14px;
  margin-left: 20px;
  color: black;
}

#workspace {
  margin: 120px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#workspace h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

video {
  width: 900px;
}
