@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 80%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

nav {
  padding: 8px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-left: 30px;
}

nav ul li a {
  font-size: 19px;
  font-weight: 400;
  color: black;
  transition: 0.5s ease-in;
}

a:hover {
  color: blue;
}
a:visited {
  color: rgb(67, 67, 71);
}

/* * Sections */

#about {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.top {
  margin-bottom: 15rem;
}
#workspace {
  margin-top: 120px;
  text-align: center;
}

#workspace h3 {
  font-size: 20px;
  font-weight: 400;
}
